.vscode/
.history/

!/api/api_here

build/*
build/build_here

conf/
subGUI/*

bash/*

db/datasets/*
!/db/datasets/dataset_here
db/models/*
db/*

!/db/models/BBOX/BBOX_ModelDir_Here
!/db/models/BBOX/pretrained/pretrained_model_here
!/db/models/RBOX/RBOX_ModelDir_Here

!/lib/algorithm/code_here
!/lib/guiLogic/code_here
lib/algorithm/modelVisOutput/

.gitignore
GUI_V1.0.pro.user
.qt_for_python/*
GUI_V2.0.pro.user
GUI_V2.0_SAR.pro.user
GUI_V2.0_SAR.pro.user.6cd0d44